@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* reset css style */
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
img {
  /* display: block; */
  /* would like to remain inline when it comes to the two minor icons, yet affect the major cube pic height issue   */
  max-width: 100%;
}

p,
h1 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

/* general */
:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --dark-blue-main-BG: hsl(217, 54%, 11%);
  --dark-blue-card-BG: hsl(216, 50%, 16%);
  --dark-blue-for-line: hsl(215, 32%, 27%);
  --opacity-blue-footer: hsla(215, 52%, 70%, 0.416);
  --white: hsl(0, 0%, 100%);
}

.mb {
  margin-bottom: 1rem;
}

/* setting css style */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue-main-BG);
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

main.container {
  width: 350px;
  height: 596px;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: var(--dark-blue-card-BG);
  color: var(--soft-blue);
}

/* main img */
.main-img-container {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

/* to avoid the line-height issue */
.cube {
  display: block;
}

.main-img-container:hover::before {
  /* first hover, then pseudo element shows up! */
  content: "";
  display: block;
  /* Use hsla color format to control the opacity of the
      color */
  background-color: hsla(178, 100%, 50%, 0.5);
  background-image: url(./images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* description */
.card-title,
.creator {
  color: var(--white);
}

.card-title {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

span {
  vertical-align: middle;
}

.card-title:hover,
.creator:hover,
.cyan {
  color: var(--cyan);
}

.cyan {
  font-weight: 400;
}

.nft-data {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

.nft-data img {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.creator-info {
  border-top: 1px solid var(--dark-blue-for-line);
  padding-top: 1rem;
}

.avatar {
  vertical-align: middle;
  margin-right: 1rem;
  border-radius: 50%;
  border: solid var(--white) 1px;
  width: 2.2rem;
}

/* footer */
footer {
  position: fixed;
  bottom: 0px;
  line-height: 1.2rem;
  width: 100%;
  background-color: var(--opacity-blue-footer);
}
.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: inherit;
}
